.custom-nav {
    background-color: #00030e; /* Replace with your desired dark blue color code */
    /* Add any other custom styles here */
  }
.nav-link {
    color: #feffa6; /* Change the color here */
  }

  .navbar-brand {
    color: #feffa6; /* Change the color here */
  }
  .Chatbot img {
    width: 75%;
    
  }


